.bigSlider {
    margin-top: 120px;
    padding-left: 50px;
        &__arrows {
            margin-bottom: 30px;
        svg {
            margin-right: 40px;
        }
        }
        &__overflow {
            overflow: hidden;
        .bigSlider__line {
            display: flex;
            justify-content: space-between;
            position: relative;
            left: 0;
            transition: all ease 1s;
            .bigSlider__slide1 {
                margin-right: 0;
                display: flex;
                max-width: 1440px;
            }
            .bigSlider__slide2 {
                display: flex;
                max-width: 1440px;
            }
            .bigSlider__img {
            img {
                width: 880px;
                height: 550px;
                object-fit: cover;
            }
            }
            .bigSlider__content {
                max-width: 460px;
                margin-right: 50px;
                background: linear-gradient(0deg, rgba(65, 124, 209, 0.3) 0%, rgba(9, 46, 98, 0.3) 100%), #1E5AAF;
                padding-left: 45px;
                height: 550px;
                transition: all ease 1s;
                &:hover {
                    cursor: pointer;
                    // background: linear-gradient(0deg, rgba(65, 124, 209, 0.8) 0%, rgba(9, 46, 98, 0.8) 100%), linear-gradient(0deg, rgba(65, 124, 209, 0.3) 0%, rgba(9, 46, 98, 0.3) 100%), #1E5AAF;
                    background-color:#0c4089;
                }
            h3 {
                padding-top: 45px;
                padding-right: 80px;
                margin-bottom: 20px;
                width: 335px;
                color: $menuWhite;
                font-size: 24px;
                line-height: 33.6px;
            }
            p {
                color: $dateSliderBig;
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 40px;
            }
            a {
                color: $menuWhite;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
            }
            svg {
                margin-left: 5px;
            }
            }
        }
        }
    }

@media (max-width: 1920px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            max-width: 3244px;
            .bigSlider__slide1 {
                max-width: 1870px;
                width: 100%;
            }
            .bigSlider__img {
            img {
                width: 1225px;
                height: 550px;
            }
            }
            .bigSlider__content {padding: 0 95px;
            h3 {
                padding-top: 70px;
                font-size: 31px;
                line-height: 38.6px;
            }
            p {font-size: 18px;}
            a {font-size: 21px;}
            }
        }
        }
    }
}

@media (max-width: 1700px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__img {
            img {
                width: 996px;
            }
            }
        }
        }
    }
}

@media (max-width: 1470px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__img {
            img {
                width: 765px;
            }
            }
        }
        }
    }
}

@media (max-width: 1440px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__img {
            img {
                width: 882px;
            }
            }
            .bigSlider__content {
                padding-left: 44px;
                padding-right: 0;
            h3 {
                padding-top: 44px;
                font-size: 24px;
                line-height: 33.6px;
            }
            p {
                line-height: 16px;
                margin-bottom: 40px;
            }
            a {
                font-size: 18px;
                line-height: 18px;
            }
            }
        }
        }
    }
}

@media (max-width: 1305px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__img {
            img {
                width: 746px;
            }
            }
        }
        .bigSlider__content {
            height: 383px;
        }
        }
    }
}

@media (max-width: 1167px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__img {
            img {
                width: 600px;
                height: 383px;
            }
            }
            .bigSlider__content {
                height: 383px;
            }
        }
        }
    }
}

@media (max-width: 1031px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__img {
            img {
                width: 430px;
                height: 335px;
            }
            }
            .bigSlider__content {
                width: 456px;
                height: 335px;
            h3 {
                font-size: 20px;
                width: 300px;
                line-height: 29px;
            }
            p {font-size: 14px;}
            }
        }
        }
    }
}

@media (max-width: 826px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__slide1 {
                flex-direction: column;
            }
            .bigSlider__slide2 {
                flex-direction: column;
                
            }
            .bigSlider__img {
            img {
                width: 731px;
                padding-right: 44px;
            }
            }
            .bigSlider__content {
                margin-top: -26px;
                max-width: 687px;
                margin-right: 0;
                padding-right: 0;
                width: 100%;
            h3 {
                width: 468px;
            }
            }
        }
        }
    }
}

@media (max-width: 582px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__slide1 {
                padding-right: 87px;
            }
            .bigSlider__img {
            img {
                width: 401px;
            }
            }
            .bigSlider__content {
                max-width: 357px;
            h3 {
                width: 341px;
            }
            }
        }
        }
    }
}

@media (max-width: 421px) {
.bigSlider {
        &__overflow {
        .bigSlider__line {
            .bigSlider__img {
            img {
                width: 326px;
                height: 211px;
                object-fit: contain;
            }
            }
            .bigSlider__content {
                max-width: 282px;
            h3 {
                width: 237px;
                margin-top: -27px;
                font-size: 18px;
            }
            }
        }
        }
    }
}