    .header__tabs-active {
            max-width: 1920px;
            width: 100%;
            position: absolute;
            z-index: 20;
            margin-top: -1px;
            background-color: $whiteTabs;
            display: grid !important; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 46px; 
            grid-template-areas: 
                ". . ."; 
            
    }
    .header__tabs {
            display: none;
        .header__tabs-wrp {
        .header__tabs-list {
                padding: 80px 200px 50px 50px;
            .header__tabs-item {
                padding-bottom: 47px;
            }
            .header__tabs-item + .header__tabs-item {
                padding-bottom: 47px;
            }
            a {
                font-size: 18px;
                line-height: 21px;
                color: $darkText;
            &:hover {color: $btn;}
            &:active {color: $btn;}
            &:focus {color: $btn;}
            }
        }
        }
    }

@media (max-width: 1180px) {
.header__tabs-active {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 46px; 
    grid-template-areas: 
        ". ."
        ". ."; 
}
.header__tabs .header__tabs-wrp .header__tabs-list {
    padding: 30px 0 10px 50px;
}
}

@media (max-width: 730px) {
.header__tabs-active {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."
        "."; 
}
}

@media (max-width: 460px) {
._active .header__logo svg {
    width: 110px;
}
}

