.specialist {
        padding-left: 50px;
        h2 {
            margin-top: 133px;
            font-weight: 500;
            font-size: 40px;
            line-height: 52px;
            color: $darkText;
            width: 1013px;
        }
        &__top {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            padding-right: 50px;
        .specialist__arrows {
            display: flex;
            svg {
                margin-right: 43px;
            }
        }
        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            color: $btn;
        }
        }
        &__slider {
        .specialist__overflow {
            overflow: hidden;
            width: 1390px;
            .specialist__line {
                margin-top: -10px;
                display: flex;
                justify-content: space-between;
                max-width: 1758px;
                position: relative;
                left: 0;
                transition: all ease .9s;
            }
            .specialist__slide1 {
                margin-right: 44px;
                height: 575px;
                background: linear-gradient(0deg, rgba(65, 124, 209, 0.3) 0%, rgba(9, 46, 98, 0.3) 100%), #1E5AAF;
                max-width: 879px;
                width: 100%;
                border-radius: 4px;
                &:hover {
                    cursor: pointer;
                    // background: linear-gradient(0deg, rgba(65, 124, 209, 0.8) 0%, rgba(9, 46, 98, 0.8) 100%), linear-gradient(0deg, rgba(65, 124, 209, 0.3) 0%, rgba(9, 46, 98, 0.3) 100%), #1E5AAF;
                    background-color:#0c4089;
                }
            }
            .specialist__upper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .specialist__title {
                padding-left: 110px;
                padding-right: 514px;
                margin-top: 20px;
                font-weight: 400;
                font-size: 24px;
                color: $white;
                line-height: 31.2px;
                text-transform: uppercase;
                width: 162px;
                height: 121px;
                background: url(../img/portret.png) top right 6px/89px 89px no-repeat
            }
            }
            .specialist__subtitle {
                color: $specialistP;
                font-size: 14px;
                line-height: 18.2px;
                width: 446px;
                padding-left: 110px;
                margin-top: -40px;
            }
            div {
            p {
                color: $specialistP2;
                font-size: 30px;
                line-height: 42px;
                width: 630px;
                padding-left: 110px;
                margin-top: 76px;
            }
            div {
                margin-top: 44px;
                width: 1803px;
                a {
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                color: $white;
                padding-left: 110px;
                padding-bottom: 64px;
                padding-right: 517px;
                background: url(../img/arrow-card.png) top 8px right/7px 13px no-repeat;
            }
            }
            .specialist__slide2 {
                margin-right: 0;
                margin-left: auto;
                margin-top: 44px;
            }
            
            }
        }
    }
    
    
@media (max-width: 1920px) {
.specialist {
        &__slider {
        .specialist__overflow {
                max-width: 1870px;
                width: 100%;
            .specialist__slide1 {
                max-width: 1109px;
                height: 630px;
            }
            .specialist__title {
                font-size: 37px;
                line-height: 47px;
                padding-right: 780px;
                background: url(../img/portret.png) top right 6px/121px 121px no-repeat
            }
            }
            .specialist__subtitle {
                    font-size: 23px;
                    line-height: 28px;
                    width: 690px;
                    margin-top: -12px;
            }
            div { 
            p {
                font-size: 36px;
                line-height: 42px;
                width: 956px;
                margin-top: 55px;
            }
            div {
                width: 2180px;
                a {
                    padding-right: 773px;
                    background: url(../img/arrow-card.png) top 8px right/11px 18px no-repeat;
            }
            }
            }
        }
    }
}

@media (max-width: 1700px) {
.specialist {
        &__slider {
        .specialist__overflow {
            .specialist__slide1 {
                max-width: 930px;
                height: 630px;
            }
            .specialist__title {
                padding-right: 422px;
            }
            }
            .specialist__subtitle {
                    font-size: 21px;
                    line-height: 25px;
                    width: 453px;
            }
            div { 
            p {
                font-size: 34px;
                line-height: 37px;
                width: 603px;
                margin-top: 47px;
            }
            div {
                a {
                    padding-right: 32px;
                    background: url(../img/arrow-card.png) top right/11px 18px no-repeat;
            }
            }
            }
        }
    }
}

@media (max-width: 1440px) {
.specialist {
        h2 {
            font-size: 40px;
            max-width: 888px;
            margin-top: 133px;
        }
        &__slider {
        .specialist__overflow {
                max-width: 1390px;
                width: 100%;
            }
            div {
            div {
                width: 1803px;
            }            
            }
        }
    }
}

@media (max-width: 1361px) {
.specialist {
        &__slider {
        .specialist__overflow {
            .specialist__slide1 {
                max-width: 835px;
            }
            .specialist__title {
                padding-right: 422px;
            }
            }
            .specialist__subtitle {
                    font-size: 21px;
                    line-height: 25px;
                    width: 453px;
            }
            div { 
            p {
                font-size: 34px;
                line-height: 37px;
                width: 603px;
                margin-top: 47px;
            }
            div {
                a {
                    padding-right: 32px;
                    background: url(../img/arrow-card.png) top right/11px 18px no-repeat;
            }
            }
            }
        }
    }
}

@media (max-width: 1210px) {
.specialist {
        &__slider {
        .specialist__overflow {
            .specialist__line {
                max-width: 1210px;
            }
            .specialist__slide1 {
                max-width: 630px;
                height: 750px;
            }
            .specialist__title {
                font-size: 28px;
                line-height: 49px;
                padding-right: 266px;
            }
            }
            .specialist__subtitle {
                font-size: 19px;
                line-height: 25px;
                width: 306px;
                margin-top: 10px;
            }
            div { 
            p {
                font-size: 31px;
                line-height: 35px;
                width: 485px;
                margin-top: 82px;
            }
            }
        }
    }
}

@media (max-width: 1065px) {
.specialist {
        h2 {
            font-size: 33px;
            max-width: 710px;
            margin-top: 80px;
        }
        &__slider {
        .specialist__overflow {
                max-width: 1390px;
                width: 100%;
            .specialist__line {
                width: 640px;
            }
            .specialist__slide1 {
                max-width: 700px;
            }
            .specialist__upper {
                max-width: 1803px;
                width: 100%;
            }
            .specialist__title {
                padding-right: 530px;
                background: url(../img/portret.png) top right 153px/89px 89px no-repeat;
            }
            }
            .specialist__subtitle {
                width: 400px;
            }
            div {
            p {
                font-size: 26px;
                width: 500px;
            }
            div {
                width: 1803px;
                a {
                    background: url(../img/arrow-card.png) top 3px right 498px/7px 13px no-repeat
            }
            }
            }
        }
    }
}

@media (max-width: 1025px) {
.specialist {
        &__slider {
        .specialist__overflow {
            .specialist__slide1 {
                max-width: 580px;
                height: 750px;
            }
            .specialist__title {
                padding-right: 300px;
            }
            }
            .specialist__subtitle {
                font-size: 14px;
                line-height: 17px;
                width: 300px;
            }
            div { 
            p {
                font-size: 24px;
                line-height: 33px;
                width: 330px;
                margin-top: 72px;
            }
            div {
                a {padding-right: 520px;}
            }
            }
        }
    }
}

@media (max-width: 800px) {
.specialist {
        &__slider {
        .specialist__overflow {
            .specialist__slide1 {
                max-width: 400px;
                height: 750px;
            }
            .specialist__title {
                padding-right: 300px;
                padding-left: 41px;
            }
            }
            .specialist__subtitle {
                padding-left: 41px;
                font-size: 14px;
                line-height: 17px;
                width: 300px;
            }
            div { 
            p {
                padding-left: 41px;
                font-size: 24px;
                line-height: 33px;
                width: 330px;
                margin-top: 72px;
            }
            div {
                a {
                    padding-right: 520px;
                    padding-left: 41px;
                }
            }
            }
        }
    }
}


@media (max-width: 775px) {
.specialist {
        h2 {
            font-size: 25px;
            line-height: 30px;
            max-width: 538px;
        }
        &__top {
                padding-right: 180px;
        }
        &__slider {
        .specialist__overflow {
                max-width: 1390px;
                width: 100%;
            .specialist__slide1 {
                max-width:460px;
                height: 600px;
            }
            .specialist__title {
                padding-left: 50px;
                padding-right: 380px;
                background: url(../img/portret.png) top right 225px/89px 89px no-repeat;
            }
            }
            .specialist__subtitle {
                padding-left: 50px;
            }
            div {
            p {
                font-size: 20px;
                line-height: 29px;
                width: 330px;
            }
            div {
                width: 1803px;
                a {
                    padding-left: 50px;
                }
            }
            }
        }
    }
}

@media (max-width: 690px) {
.specialist {
        &__slider {
        .specialist__overflow {
            .specialist__slide1 {
                max-width: 375px;
            }
            .specialist__title {
                padding-left: 50px;
                padding-right: 380px;
                background: url(../img/portret.png) top right 225px/89px 89px no-repeat;
            }
            }
            .specialist__subtitle {
                padding-left: 50px;
                width: 243px;
                font-size: 13px;
                line-height: 13px;
            }
            div {
            p {
                font-size: 18px;
                line-height: 29px;
                width: 252px;
                margin-top: -10px;
            }
            div {
                a {
                    font-size: 15px;
                }
            }
            }
        }
    }
}

@media (max-width: 600px) {
    .specialist {
        h2 {
            font-size: 24px;
            line-height: 26px;
            max-width: 300px;
        }
        &__top {
                padding-right: 180px;
        }
        &__slider {
        .specialist__overflow {
            .specialist__slide1 {
                max-width: 320px;
            }
            .specialist__title {
                padding-right: 340px;
            }
            }
        }
    }
}

@media (max-width: 440px) {
.specialist {
        &__slider {
        .specialist__overflow {
            .specialist__slide1 {
                padding-right: 57px;
                max-width: 235px;
                width: 100%;
                height: 492px;
            }
            .specialist__title {
                margin-top: -8px;
                width: 264px;
                background: url(../img/portret.png) top right 220px/89px 89px no-repeat;
            }
            }
            .specialist__subtitle {
                width: 230px;
            }
            div {
            p {
                width: 238px;
                font-size: 18px;
                line-height: 19px;
            }
            }
        }
    }
}