$white: #ffff;
$btn: #1E5AAF;
$hover: #0F3974;
$specialistP:#557EB8;
$specialistP2: #9FB7DB;
$menuWhite: #FDFDFD;
$btnBorder: #DF0050;
$brown: #49301D;
$border: #DADCE7;
$darkText: #252627;
$grayText: #797A84;
$dateSliderBig: #8EA9D0;
$footer: #051A2C;
$footerP: #8C8D98;